<div>
    <strong>Cours :</strong>
    <ul>
    {% for class in classes %}
        <li>
            <p>{{ class.getName() }} - {{ class.getInstructor() }} - {{ class.getSchedule() }}</p>
        </li>
    {% endfor %}
    </ul>
</div>
